.post{
    width: 100%;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 16px -8px rgba(0,0,0,0.69); 
    box-shadow: 0px 0px 16px -8px rgba(0,0,0,0.69);
    margin: 30px 0;
}
.postWrapper{
    padding: 10px;
}
.postTop{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.postTopLeft{
    display: flex;
    align-items: center;
}
.postProfileImg{
width: 32px;
height: 32px;
border-radius: 50%;
object-fit: cover;
}
.PostUsername{
    font-size: 15px;
    font-weight: 600;
    margin: 0 10px;
}
.PostDate{
    font-size: 12px;
}
.postCenter{
    margin: 20px 0;
}
.postImg{
    margin-top: 20px;
    width: 100%;
    max-height: 450px;
    object-fit: contain;
    display: flex;
    flex-direction: column;
}
.postBottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.postBottomLeft{
    display: flex;
    align-items: center;
}
.likeIconThumb{
    width: 150px;
    height: 15px;
    margin-right: 4px;
    cursor: pointer;
    background-color: blue;
    color: white;
    border-radius: 50%;
    padding: 5px;
    font-size: 1;
    transform:scale(0.8);
}
.likeIconHeart{
    width: 150px;
    height: 15px;
    margin-right: 4px;
    cursor: pointer;
    background-color: rgb(239, 26, 62);
    color: white;
    border-radius: 50%;
    padding: 5px;
    font-size: 1;
    transform:scale(0.8);
}
.postCounter{
    font-size: 15px;
}
.postCommentText{
    cursor: pointer;
    border-bottom: 1px dashed grey;
    font-size: 15px;
}