.leftbar{
    flex:3;
    height:calc(100vh - 3.2rem);
    overflow-y: scroll; 
    position: sticky;
    top: 50px;
}
::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-track{
  background-color: #f1f1f1;
}
::-webkit-scrollbar-thumb{
 background-color: rgb(165, 163, 163);
}
.leftbarWrapper{
    padding: 20px;
    /* background-color: yellowgreen; */
}
.leftbarList{
    padding: 0;
    margin: 0;
    list-style: none;
}
.leftbarListItem{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.leftbarIcon{
    margin-right: 15px;
}
.leftbarButton{
    width: 150px;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-weight:bold;
}
.leftbarHr{
    margin: 20px 0;
}
.leftbarFriendList{
    margin: 0;
    padding: 0;
    list-style: none;
}
